.breadcrumb {
  li {
    display: inline;

    &:after {
      content: '|';
      color: @grey;
      padding-left: 0.25em;
    }
    &.active {
      color: @grey;
      &:after {
        display: none;
      }
    }
  }

  a {
    text-decoration: none;
    color: @ref-color;
  }
}