.btn-group:after {
  content: "";
  display: table;
  clear: both;
}

.btn-group [class*="btn-"] {
  float: left;
  border: none;
  margin: 0;
  border-right: 1px solid @light-grey;
  border-top: 1px solid @light-grey;
  border-bottom: 1px solid @light-grey;

  &:first-child {
    border-left: 1px solid @light-grey;
    .border-radius(5px, 0, 0, 5px);
  }

  &:last-child {
    .border-radius(0, 5px, 5px, 0);
  }
}

.btn(@color, @hover-color) {
  display: inline-block;
  margin: 5px 5px 0 0;
  padding: 10px 15px;
  font-size: 0.83em;
  background: none;
  color: @color;
  border: 1px solid @light-grey;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .05em;
  text-align: center;
  transition: background .2s, color .2s;

  &:hover {
    background: @color;
    color: @hover-color;
    cursor: pointer;
  }

  &:active {
    transform: translateY(1px);
  }

  &:focus {
    outline: none;
  }
}

.btn-primary {
  .btn(@primary, @light-grey);
}

.btn-success {
  .btn(@success, @light-grey);
}

.btn-danger {
  .btn(@danger, @light-grey);
}

/*
 * INPUTS
 */
.form {
  padding: 10px 5px;
  border: 1px solid @light-grey;
  display: inline-block;

  @media only screen and (max-width: @media-width) {
    display: block;
  }
}

@input-border-color: @ref-color;
.input, .textarea {
  max-width: 100%;
}

.input-group {
  display: inline-block;
  margin: 0 5px;

  @media only screen and (max-width: @media-width) {
    display: block;
    margin-top: 10px;
  }
}

.input {
  color: @dark-grey;
  border: 1px solid @input-border-color;

  &:focus {
    outline: none;
    box-shadow: 0 0 2px 0 @input-border-color;
  }
}

.select {
  color: @ref-color;
}

.search-input {
  .border-radius(5px);
  padding-left: 25px;
  background: url("../img/search.png") no-repeat 5px center;
}

.order-ico {
  display: inline-block;
  width: 21px;
  height: 21px;
  background-image: url("../img/order.png");
  background-size: cover;
  cursor: pointer;
  vertical-align: middle;
}
