.gallery {
  .image {
    padding: 0 .5em;
    margin: 15px 0;
    text-align: center;

    img {
      display: block;
      width: 100%;
      cursor: pointer;
    }

    .caption {
      padding: 10px;
      background: #eee;
      color: darken(#eee, 40%);
    }

    &:nth-child(4n) {
      clear: both;
    }

    //set on every first row image in ie8
    &.clear {
      clear: both;
    }
  }
}
